@using VeloWorldSystem.Web.Models.Demo
@model DemoViewModel

<table>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Title</td>
        <td>@Model.Content</td>
        <td>@Model.DemoDate</td>
        <td>@Model.Price</td>
    </tr>
</table>
