@model IEnumerable<BikeTypeViewModel>

@{
    ViewBag.Title = "All Bike Types";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure to delete this record?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" value="Delete" id="confirmDelete">Ok</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover mb-0">
    <thead>
        <tr class="table-active bg-white">
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var bikeType in Model)
            {
                <tr class="table-info">
                    <td>@bikeType.Name</td>
                    <td>
                        @if (!bikeType.IsDeleted)
                        {
                            <a asp-controller="BikeTypes" asp-action="Edit" asp-route-id="@bikeType.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@bikeType.Id" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                        }
                        else
                        {
                            <a asp-action="Undelete" asp-route-id="@bikeType.Id" class="btn btn-primary">Undelete</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript" >
        //call this function after click on confirm delete button

        window.onload = function(event) {
            let deleteMoodal = document.getElementById('deleteModal');
            let confirmButton = document.getElementById('confirmDelete');
            confirmButton.addEventListener("click", closeModal);
        }

        function closeModal(event) {
            var controllerName = '@ViewContext.RouteData.Values["controller"].ToString()';
            await 
            $("#deleteModal").modal('hide');
        }

        //var deleteData = function () {
        //    console.log('click');
        //    var id = $('#id').val();
        //    $.ajax({
        //        type: "POST",
        //        url: '/BikeTypes/Delete/1',
        //        data: { id: 1 },
        //        success: function (result) {
        //            $("#deleteModal").modal('hide');
        //        },
        //        error: function () {
        //            $("#deleteModal").modal('hide');
        //        }
        //    });
        //}
    </script>
}
